<div class="white-box">
    <div class="turquoise-box">
    </div>
    <br><br><h3>Create a budget plan for your next trip</h3><br><br>

    <div class="all-form-padding">
        <form class="form-group all-forms">
            <h4 align="center">Make a budget for your upcoming trip to keep track of your spending</h4><br>
            <label for="name">What do you want to name your upcoming trip?</label>
            <input type="text" class="form-control" id="welcome-name" >
            <br><label for="budget-total">What is the total budget of your trip in USD?</label>
            <input type="number" class="form-control" id="budget-total" placeholder="eg. $2400" >
            <br><label for="length-total">What is the start date of your trip?</label>
            <input type="date" class="form-control" id="length-total" >
            <br><label for="length-total">What is the end date of your trip?</label>
            <input type="date" class="form-control" id="length-total" >
            <br><button type="submit" id="welcome-submit" class="all-form-buttons">Create my new budget</button>
            <button type="reset" id="welcome-reset" class="all-form-buttons">Reset</button>
            <br><br>
            <p class="welcome-output" id="welcome-output"></p>
        </form>
    </div>
</div>