<div class="white-box">
    <div class="turquoise-box">
    </div>
    <br><br><h3>Welcome to your travel budget app</h3><br>
    <img class="pano-img-welcome" src="http://res.cloudinary.com/djx0t6jww/image/upload/v1523721409/travel%20panoramas/IMG_0835.jpg">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p class="welcome-text"> This app was simply designed so I could more easily keep track of my spending while traveling. <br><br> But you can use it too. <br><br> Create an account to access more functionality to track your spending and ensure you dont blow the budget. </p> 
    <br><br><br>
    <div class="all-form-padding">
        <form class="form-group all-forms">
            <h3 align="center">Make a budget for your upcoming trip</h3><br>
            <label for="name">What is your name?</label>
            <input type="text" class="form-control" id="welcome-name" >
            <br><label for="budget-total">What is the budget of your trip in USD?</label>
            <input type="number" class="form-control" id="budget-total" placeholder="eg. $2400" >
            <br><label for="length-total">What is the total length of your trip?</label>
            <input type="number" class="form-control" id="length-total" placeholder="eg. 15" >
            <br><button type="submit" id="welcome-submit" class="welcome-buttons all-form-buttons">Find my daily budget</button>
            <button type="reset" id="welcome-reset" class="welcome-buttons all-form-buttons">Reset</button>
            <br><br>
            <p class="welcome-output" id="welcome-output"></p>
        </form>
    </div>
</div>