<div class="white-box">
    <div class="turquoise-box">
    </div>
    <br><br><h3>Welcome to your travel budget app</h3><br>
    <img class="pano-img-welcome" src="http://res.cloudinary.com/djx0t6jww/image/upload/v1523721409/travel%20panoramas/IMG_0835.jpg">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p class="welcome-text"> This app was simply designed so I could more easily keep track of my spending while traveling. <br><br> But you can use it too. <br><br> Create an account to access more functionality to track your spending and ensure you dont blow the budget. </p> 
    <br><br><br>
    <div class="welcome-form-padding">
        <div class="form-group welcome-form">
            <h3 align="center">Find your budget</h3><br>
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name">
            <br><label for="budget-total">What is the budget of your trip in USD?</label>
            <input type="budget-total" class="form-control" id="budget-total" placeholder="eg. $2400">
            <br><label for="length-total">What is the total length of your trip?</label>
            <input type="length-total" class="form-control" id="length-total" placeholder="eg. 15">
            <br><button type="submit" id="welcome-submit" class="welcome-submit">Find my daily budget</button>
        </div>
    </div>
</div>