//if user has current trip/s CSS


//if user has no current trips CSS

.right-image-no-current {
    margin-left:55%;
    position: absolute;
    top:200px;
    width:40%;
    z-index: 3; 
    transform: rotate(90deg)
}
.philippines-img {
    transform: rotate(270deg)
}

.left-image-no-current {
    width:40%;
    margin-left:70px;
    z-index: 2;
}

.pano-image-no-current {
    margin-left:20%;
    width:75%;
    z-index: 1;
}

.china-img-no-current {
    width:45%;
}

.china-text {
    float:right;
}

.philippines-text {
    padding-bottom:50px;
    padding-left:80px;
}

.myanmar-text {
    text-align:right;
}

.card-text {
    font-size:20px;
    font-weight: bold;
}

.philippines-text {
    text-align:left;
}

.card {
    border: none;
    background-color: transparent;
}

.navbar-transparent {
    background-color: transparent;
}