a.link-design {
    color:black;
    text-align: center;
}

a.link-design:hover {
    text-decoration: none;
}

a.header-heading {
    color:black;
}

a.header-heading:hover {
    text-decoration: none;
}

h4#header-links {
    text-align: center;
}