div.header-total {
    padding-right:50px;
    padding-left:50px;
    overflow: hidden;
}

a.link-design {
    color:black;
    font-size:13px;
    float:right;
    padding-left:40px;
}

a.link-design:hover {
    text-decoration: none;
}

a.header-heading {
    color:black;
    float:left;
}

a.header-heading:hover {
    text-decoration: none;
}

div.left-links {
    width:30%;
}

div.right-links {
    width:70%;
    float:right;
}