body {
    padding-left:40px;
}

div.white-box {
    width: 100%;
    z-index: -2;
}

div.turquoise-box {
    width: 30%;
    float: right;
    background-color: $turquoise1;
    height: 1000px;
    z-index: -1;
}

p.welcome-text {
    font-size:18px;
    width:40%;
}

img.pano-img-welcome {
    width:85%;
    z-index: 1;
    position: absolute;
    float:right;
    padding-left:40px;
}

div.welcome-form-padding {
    padding-left:15%;
}

form.welcome-form {
    position: absolute;
    padding:30px;
    background-color:$grey1;
    width:70%;
    border-left: solid $turquoise1 30px;
}

button.welcome-buttons {
    background-color: $white1;
    color: $black1;
}

.welcome-output {
    display:none;
    background-color: black;
    color: $grey1;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}